bin
cron_scripts/
develop-eggs/
downloads
.DS_Store
*.egg
*.egg-link
*.egg-info
*.EGG-INFO
!src/*cgwb*
/.buildout/
/buildout-salt.cfg
/etc/apache/100*.reverseproxy.conf
/etc/phenology.plone.env
/etc/init.d/
/etc/loadbalancing/
/etc/logrotate.conf
/etc/project/kgs.cfg
/etc/project/plone-kgs.cfg
/etc/sys/settings-local.cfg
/etc/sys/settings-prod.cfg
/etc/varnish.vcl
/etc/www/apache.reverseproxy.conf
/etc/www/nginx.reverseproxy.conf
/include/
/.installed.cfg
/lib/
/.mr.developer.cfg
/parts
/src/*
/uuid.txt
/var
/var/log/apache/*.log
/var/log/instance?.log
/venv/
/www/apache.reverseproxy.conf
/www/nginx.reverseproxy.conf
!/src/zopelib
!/src/*phenology.plone*
!/eggs/*.empty
!/etc/sys
node_modules
www/htusers
