#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar
makina-projects.projectname:
  data:
    var-directory: '{data_root}/var'
    cache-directory: '{var-directory}/buildout-cache'
    cron_hour: 1
    cron_minute: 5
    nbinstances: 4
    apache: false
    autostart: 'true'
    nginx: true
    reverse-proxy-scheme: http
    domain: "{fqdn}"
    server_aliases: |
                    SEE BELOW:
                    buildout/settings/v/server_aliases
    ui: "{data_root}/ui"
    installer_url: "http://launchpad.net/plone/${plone_major}/${plone_ver}/+download/Plone-${plone_ver}-UnifiedInstaller.tgz"
    plone_arc: "{data_root}/ui/unifiedinstaller.tgz"
    zroot: "{project_root}"
    py_ver: 2.7
    py_root: "{project_root}/venv"
    py: "{py_root}/bin/python"
    requirements: "{project_root}/requirements.txt"
    buildout:
      newest: false
      settings:
        buildout:
          extends: 'buildout-{default_env}.cfg'
          'parts+': 'logrotate.conf'
          'parts-': '${v:maintainance-parts} chmod chown'
          newest: "false"
          unzip: "true"
          cache-directory: '{cache-directory}'
          download-cache: '{cache-directory}/downloads'
          download-directory: '{cache-directory}/downloads'
          eggs-directory: '{cache-directory}/eggs'
          parts-directory: '{var-directory}/parts'
        v:
          # activate http auth
          #http_users: |
          #
          #            # comment is for buildout
          #                foo:test
          #                root:bar
          #space separated list of domains
          server_aliases: ""
          sys-user: "{user}"
          sys-group: "{group}"
          admin-user: admin
          logrotate: 365
          admin-password: 'secret'
          project: '{name}'
          proxycache_size: '256M'
          anon_cache_time: '600s'
          autostart_instance1: '{autostart}'
          autostart_instance2: 'false'
          autostart_instance3: 'false'
          autostart_instance4: 'false'
          plonesite: 'Plone'
          zeo-pack-days: '0'
          z2-log-level: 'INFO'
          event-log-level: 'INFO'
          debug: 'off'
          verbose-security: 'off'
          zeo-client-cache-size: '80MB'
          session-timeout-minutes: '90'
          varnish-debug: '${v:debug}'
          rewrite-max-age: 'false'
          supervisor-user: '${v:admin-user}'
          supervisor-password: '${v:admin-password}'
          reverse-proxy-listen: '*'
          reverse-proxy-scheme: '{reverse-proxy-scheme}'
          reverse-proxy-host: '{domain}'
          reverse-proxy-edit-host: 'edit.{domain}'
          reverse-proxy-admin: "postmaster@e{domain}"
          reverse-proxy-port: '80'
          package-min-coverage: '80'
          flake8-ignore: 'C901'
          flake8-max-complexity: '1000'
          pre-commit-hook: 'True'
        versions:
          Pillow: 2.4.0
          pillow: 2.4.0
        ports:
          supervisor: '8081'
          zeo: '8082'
          instance: '8084'
          balancer: '8083'
          instance1: '8085'
          instance2: '8086'
          instance3: '8087'
          instance4: '8088'
          varnish: '8094'
          varnish-telnet: '8095'
          zope-front: '${ports:balancer}'
          cache-backend: '${ports:balancer}'
        crons:
          zope-restart: '15 1 * * *'
          zope-pack: '30 1 * * *'
          repozo-daily: '05 1 * * *'
          repozo-weekly: '10 1 * * 6'
          nb_backups_to_keep: '35'
          nb_fullbackups_to_keep: '5'
        locations:
          locations-tmp: '${buildout:directory}/var/tmp'
          locations-blob-storage: '${buildout:directory}/var/blobstorage/storage'
          locations-blob-backup: '${buildout:directory}/var/blobstorage/backup'
        hosts:
          syslog: '${hosts:ip}'
          zeo: '${hosts:ip}'
          supervisor: '${hosts:ip}'
          balancer: '${hosts:ip}'
          instance: '${hosts:address}'
          instance1: '${hosts:ip}'
          instance2: '${hosts:ip}'
          instance3: '${hosts:ip}'
          instance4: '${hosts:ip}'
          varnish: '${hosts:ip}'
          varnish-telnet: '${hosts:ip}'
          #zope-front: '${hosts:varnish}'
          zope-front: '${hosts:balancer}'
          cache-backend: '${hosts:balancer}'
  env_defaults:
    dev:
      buildout:
        settings:
          v:
            autostart_instance1: 'false'
            autostart_instance2: 'false'
            autostart_instance3: 'false'
            autostart_instance4: 'false'
    prod:
      buildout:
        settings:
          v:
            autostart_instance1: 'true'
            autostart_instance2: 'false'
            autostart_instance3: 'false'
            autostart_instance4: 'false'
# vim:set ft=yaml ts=2 sts=2:
