# Add here your version pinnings
[buildout]
versions=versions
[versions]
# never ever pin paste and other base eggs
Paste =
PasteDeploy =
PasteScript =
docutils =
# do not fix latest templates
ZopeSkel =

# fix import error when global site-packages is used
z3c.autoinclude=0.3.5

# MISC
nodejs = 0.10.0
libxml2 = 2.9.1
libxslt = 1.1.28

# ecosystem
python-dateutil=2.2
# testing
selenium = 3.7.0

# prod deploy
Genshi = 0.7
plone.recipe.haproxy = 1.1.2
collective.recipe.supervisor = 0.20
plone.recipe.command = 1.1
z3c.recipe.usercrontab = 1.4
supervisor = 3.3.3
meld3 = 1.0.2


