---
- tags: [cops_zope_s_setup_buildout_configs]
  when: [cops_zope_s_setup_buildout_configs]
  block:
    - include_role: {name: corpusops.roles/configs, public: false}
      vars: {cops_configs_templates: "{{cops_zope_vars.buildoutconfigs}}"}
- tags: [cops_zope_s_setup_buildout_bootstrap]
  when: [cops_zope_s_setup_buildout_bootstrap]
  block:
    - shell: |-
        set -ex
        {% set d = cops_zope_vars %}
        cd {{d.buildout_cwd}}
        {{d.py}} {{d.buildout_bootstrap}} {{d.buildout_bootstrap_args}}
      changed_when: false
- tags: [cops_zope_s_setup_buildout_buildout]
  when: [cops_zope_s_setup_buildout_buildout]
  block:
    - shell: |-
        set -ex
        {% set d = cops_zope_vars %}
        cd {{d.buildout_cwd}}
        {{d.buildout_cmd}} {{d.buildout_args}}
      changed_when: false
- tags: [cops_zope_s_setup_buildout_up]
  when: [cops_zope_s_setup_buildout_up]
  block:
    - shell: |-
        set -ex
        {% set d = cops_zope_vars %}
        cd {{d.buildout_cwd}}
        {{d.buildout_develop_up}}
      changed_when: false
# fix mail default timeout (ovh uses an anormaly long timeout as antispam measure)
- tags: [cops_zope_s_setup_buildout_smtptimeout]
  when: [cops_zope_s_setup_buildout_smtptimeout]
  shell: |-
    {% set d = cops_zope_vars.eggs_directory %}
    sed -i \
      -re "s/socket.setdefaulttimeout\([0-9]+\)/socket.setdefaulttimeout({{cops_zope_vars.smtp_timeout}})/g" \
      "{{d}}"/Products.CMFPlone*/Products/CMFPlone/controlpanel/browser/mail.py  \
      "{{d}}"/plone.app.controlpanel*/plone/app/controlpanel/mail.py
